{%extends "index.html"%}
{%block mycss%}
<style type="text/css">
body{
	background-image: url('http://i4.tietuku.com/3766dba53c2d58e1.png');
	background-repeat:repeat;
}
</style>
<script>
$(document).ready(function (){
		$("#navli2").addClass("active")})
</script>
{%endblock%}
{%block title%}wojiaohgl.com的备忘录{%endblock%}
{%block content%}
<div class="panel panel-danger",width=>
	<div class="panel-heading"><center>the k**ses LMT owes HGL</center></div>
	  <div class="panel-body">
		  <center><span style="font-size:200px">12</span></center>
	  </div>
</div>
{%endblock%}
{%block visitNum%}
{%endblock%}
