{%extends "index.html"%}
{%block mycss%}
<style type="text/css">
body{
	background-image: url('http://i4.tietuku.com/3766dba53c2d58e1.png');
	background-repeat:repeat;
}
</style>
<script>
$(document).ready(function (){
		$("#navli3").addClass("active")})
</script>
{%endblock%}
{%block title%}wojiaohgl.com的留言板{%endblock%}
{%block content%}
{% load pagination_tags %}
<form action="/blog/addSiteComment" method="get">
	<div class="row">
		<div class="col-lg-7">
			<div class="input-group input-group-sm">
				<span class="input-group-addon" id="sizing-addon3">评论内容：</span>
				<input type="text" class="form-control" name="q">
			</div>
		</div>
		<div class="col-lg-3">
			<div class="input-group input-group-sm">
				<span class="input-group-addon" id="sizing-addon3">用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户：</span>
				<input type="text" class="form-control" name="userName" value="{{user}}">
			</div>
		</div>
		<div class="col-lg-1">
				<button class="btn btn-default" type="submit">添加评论！</button>
		</div>
	</div>
</form>
<div class="row"><hr style="height:5px;border:none;border-top:5px ridge green;"/><br/></div>
<div class="row">
		<div class="col-lg-12">

{% autopaginate posts 10 %}
      {%for comments in posts%}
<div class="panel panel-default"> 
	<div class="panel-heading">
		<span class="label label-success">{{comments.user}}</span>
		<span class="label label-info">{{comments.timestamp|date}}</span>
	</div>
	<div class ="panel-body">
		<div><p><font size="4">{{comments.body}}</font></p></div>
	</div>
</div>
	{%endfor%}
	<center>{%paginate%}</center>
</div></div>
{%endblock%}
